<div class="container">
  <footer>
    <small class="floatLeft">
      Copyright &copy; <a target="new" href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course">The Complete Ruby on Rails Developer</a>
    </small>
    <nav>
      <ul class="floatRight">
        <li class="floatLeft"><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
